{% extends 'base.html' %}
{% block content %}
    <h1>{{title}}</h1>
    <!-- carrying the jvar game_Type with us so we can re-use this html for 1st player and 2nd player -->
    <form action= {{game_type}} method="post">

        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
      
        <label for="choice">Choose Your Move!:</label>

        <select name="choice" id="choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>        
        </select>
        <input type="submit" value={{button_text}}>
      
    </form>
{% endblock content %}