{% extends 'base.html' %}
{% block content %}

<html>
    <body>
        <br>
        <div id="outcome">
            <h2>
                {% for player in player_list %}            
                <div id="outcome_{{loop.index}}">
                {{player.name}} chooses {{player.choice}}...
                </div>
            <br/>                
                {% endfor %}
            </h2>
        </div>
        <br/>        
        <div id="outcome_winner">
            
            

            {% if winning_player.name %}
                {{winning_player.name}} won!    
            {% else %}

                IT'S A DRAW!
            {% endif %}
            
        </div>
        
    </body>
</html>

    
{% endblock content %}